In [1]:
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    return pd.concat([df1, df2])

In [2]:
# Example usage
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'value': ['A', 'B', 'C']
})

df2 = pd.DataFrame({
    'id': [4, 5, 6],
    'value': ['D', 'E', 'F']
})

print(concatenateTables(df1, df2))

   id value
0   1     A
1   2     B
2   3     C
0   4     D
1   5     E
2   6     F