In [1]:
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees["salary"] = employees["salary"] * 2
    return employees

In [2]:
## Example usage
data = {
    'employee_id': [1, 2, 3, 4, 5],
    'salary': [50000, 60000, 55000, 70000, 65000]
}
employees_df = pd.DataFrame(data)
print(modifySalaryColumn(employees_df))

   employee_id  salary
0            1  100000
1            2  120000
2            3  110000
3            4  140000
4            5  130000